@import "utilities/index";
@import "vendors/index";
@import "base/index";
@import "components/index";
@import "partials/index";
@import "layout/index";
@import "pages/index";
@import "themes/index";

.register-btn { @include absolute-center; }

// Chat
.chat-content {
	height: 100%;
	padding: 10px;
	border-color: #bbb;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	margin-bottom: 0;
	.avatar { width: 60px; height: 60px; }
	.media-heading { font-size: 13px; }
	.media-subheading { font-size: 12px; margin-bottom: 5px; }
	.alert {
		font-size: 13px;
		line-height: 1.3;
		padding: 3px 5px;
		margin: 0;
		display: inline-block;
		border-radius: 8px;
	    border-top-left-radius: 0;
		border-color: #ddd;
		background-color: #eee;
	}
	.message-time { margin-left: 15px; }
	.curent-user {
		.media-left {
			float: right;
			padding-left: 10px;
			padding-right: 0;
		}
		.media-body { text-align: right; }
		.alert {
		    border-top-left-radius: 8px;
		    border-top-right-radius: 0;
		}
	}
}
.chat-wrapper, .message-form {
	@extend .container;
	@include fixed(no 50% 0 no);
	transform: translateX(-50%);
}
.chat-wrapper {
	top: 60px;
	bottom: 170px;
}
.message-input { resize: none; }
.chat-typing-indicator {
	@include absolute(no 20px 5px no);
	font-size: 12px;
	max-width: 80%;
	padding: 5px 10px;
	border-radius: 10px;
	border-bottom-left-radius: 0;
	color: #666;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(#000, 0.2);
	&:empty { display: none; }
}
.user-typing { display: inline-block; margin: 2px 20px 2px 0; }

// Game
.teams {
	h2, h4 { margin-bottom: 10px; }
	.team-unit { margin-bottom: 30px; }
	.media-object { width: 50px; height: 50px; }
	.media-body { text-align: left; }
}
.answers-list {
	li {
		padding: 8px 5px;
		cursor: pointer;
		.no-touchevents &:hover, &.active, &.correct, &.wrong { color: white; }
		.no-touchevents &:hover, &.active { background-color: #2077D2; }
		&.correct { background-color: #00CE36; }
		&.wrong { background-color: #CE0000; }
	}
}
.points-list {
	li {
		float: left;
		width: 50%;
		margin-bottom: 5px;
	}
}

.content { width: 60%; }

@import "states/index";
@import "responsive/index";