.register-modal {
	color: #ddd;
	background-color: #222;
	.modal-content {
		border: none;
		box-shadow: none;
		background-color: #222;
	}
	.form-control {
		padding: 0;
		border: none;
		box-shadow: none;
		text-align: center;
		color: #eee;
		background-color: #222;
	}
	.error { color: #e00; }
	.choose-avatar-title { margin: 0 auto 1.5em; }
	.avatars-list li {
		float: left;
		margin: 5px;
		cursor: pointer;
		&.active { border-color: #000; }
	}
}
.enable-sound {
	@include fixed(0 0 0 0);
	color: #ddd;
	background-color: #222;
	z-index: 2;
	display: none;
	.enable-sound-btn { @include absolute-center; }
}


@media (max-width: $screen-md) {
	.enable-sound { display: block; }
}