// Truncate text with ...
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Mixins
@mixin clearfix {
    &:after { 
        content: "";
        display: table;
        clear: both;
    }
}
// Mixins for positioning, if you want to exclude one of "top left bottom right"
// just enter "no" instead
@mixin position($position, $args) {
    position: $position;

    $offsets: top left bottom right;

    @each $o in $offsets {
        $value: nth($args, index($offsets, $o));

        @if $value != "no" {
            #{$o}: $value;
        }
    }
}
@mixin absolute($args) {
    @include position(absolute, $args);
}
@mixin fixed($args) {
    @include position(fixed, $args);
}
@mixin relative($args) {
    @include position(relative, $args);
}
// Vertical center
@mixin vertical-center {
    top: 50%;
    transform: translateY(-50%);
}
// Absolute center
@mixin absolute-center {
    @include absolute(50% 50% no no);
    transform: translate(-50%, -50%);
}
// Fixed center
@mixin fixed-center {
    @include fixed(50% 50% no no);
    transform: translate(-50%, -50%);
}


// Classes
.hide-element { display: none; }
.center-element { @include absolute-center; }
.text-underline { text-decoration: underline !important; }


// Bootstrap variables
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;