.presentation-page {
	font-family: 'Cabin Sketch', cursive;
	font-size: 50px;
	color: #eee;
	background-image: url(/images/presentation/canvas.jpg);
	background-size: cover;
	background-position: center;
	h1, h2, h3, h4, h5, h6 { font-weight: bold; }
	h1 { font-size: 90px; margin-bottom: 50px; }
	h2 { font-size: 70px; margin-bottom: 40px; }
	h3 { font-size: 60px; margin-bottom: 30px; }
	p, code { line-height: 1.1; margin-bottom: 30px; }
	code { font-size: 40px; }
	.presentation-controls-wrapper { display: none; }
	[class*="background-holder"] {
		@include fixed(0 0 0 0);
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0;
		transition: opacity .75s;
	}
	.background-holder-1 {
		background-image: url(/images/presentation/head.png);
		background-position: center bottom;
		background-size: 30%;
	}
	.background-holder-10 { background-image: url(/images/presentation/jordan.jpg);	}
	.background-holder-16 { background-image: url(/images/presentation/nole.jpg); }
	.background-holder-23 {	background-image: url(/images/presentation/the-terminator.jpg);	}
	.background-holder-30 {	background-image: url(/images/presentation/riddler.jpg); }
	&.impress-on-step-1 .background-holder-1,
	&.impress-on-step-10 .background-holder-10,
	&.impress-on-step-16 .background-holder-16,
	&.impress-on-step-23 .background-holder-23,
	&.impress-on-step-30 .background-holder-30 { opacity: 1; }
	.step {
		width: 1920px;
		height: 1000px;
	}
	.content-step-1 { margin-top: -150px; }
	.content-step-10 h1, .content-step-16 h1, .content-step-23 h1, .content-step-30 h1 {
		padding: 40px 50px;
		background-color: rgba(#000, .95);
	}
	.slide-list {
		li { line-height: 1.5; }
		.list-bullet { margin-right: 50px; }
	}
	.content a { color: #aaa; }
}
.game-page {
	h1 { font-size: 24px; }
	h2, h3, h4 { margin-bottom: 10px; }
	.question-info { font-size: 12px; }
	.question-text { font-weight: bold; margin-top: 5px; }
}


@media (max-width: $screen-md) {
	.presentation-page {
		background: #eee;
		.presentation-content { display: none; }
		.presentation-controls-wrapper { display: block; }
		.presentation-controls {
			@include fixed(0 50% 0 0);
			width: 50%;
			padding: 15px 50px;
			cursor: pointer;
			&:first-of-type { left: 0; right: auto; }
		}
	}
}