@media (max-width: $screen-md) {
	body { padding: 10px 0; }
	.main-navigation a { font-size: 14px; }
	.container { width: 100%; }
	.chat-wrapper {
		top: 40px;
		bottom: 120px;
		.media:not(:first-of-type) { margin-top: 10px; }
		.avatar { width: 40px; height: 40px; }
		.media-heading { font-size: 12px; margin-bottom: 2px; }
		.media-subheading { font-size: 10px; margin-bottom: 2px; }
		.alert { font-size: 12px; padding: 2px 5px; }
	}
	.message-form {
		textarea { min-height: 50px; }
		.btn-lg { padding: 6px 12px; }
		.form-group:first-of-type { margin-bottom: 5px; }
	}
}